.camera__reviews {
  grid-area: reviews;
  display: flex;
  flex-direction: row;
  gap: 172px;
  margin: 180px 0 0 0;
  list-style: none;
  padding: 0;
}

@media screen and (max-width: $tabletWidth) {
  .camera__reviews {
    flex-direction: column;
    margin: 120px 0 0 0;
    gap: 60px;
  }
}

@media screen and (max-width: $mobileWidth) {
  .camera__reviews {
    margin: 60px 0 0 0;
    gap: 30px;
  }
}
