.camera__reviews {
  grid-area: reviews;
  display: flex;
  flex-direction: row;
  gap: 172px;
  margin-top: 180px;
  list-style: none;
  padding: 0;
}

@media screen and (max-width: $tabletWidth) {
  .camera__reviews {
    flex-direction: column;
    margin-top: 120px;
    gap: 60px;
  }
}

@media screen and (max-width: $mobileWidth) {
  .camera__reviews {
    margin: 0;
    gap: 30px;
  }
}
