.link_type_more {
  grid-area: button;
  border-radius: 30px;
  margin-top: 170px;
}

@media screen and (max-width: $tabletWidth) {
  .link_type_more {
    margin: 60px 0 0 0;
  }
}

@media screen and (max-width: $mobileWidth) {
  .link_type_more {
    margin: 30px 0 0 0;
  }
}
