.composition {
  display: grid;
  grid-template-areas:
    "label pic"
    "title pic"
    "text pic"
    "text pic"
    "button pic"
    "rules rules";
  background-color: #ffce00;
  padding: $pagePaddingDesktop;
}

@media screen and (max-width: $tabletWidth) {
  .composition {
    grid-template-areas:
      "label"
      "title"
      "pic"
      "text"
      "button"
      "rules";
    padding: $pagePaddingTablet;
  }
}

@media screen and (max-width: $mobileWidth) {
  .composition {
    padding: 40px 20px 20px 20px;
  }
}
