.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 22px 50px 22px 50px;
  max-height: 84px;
  background-color: #df2626;
  color: #fbfbfb;
}

@media screen and (max-width: $tabletWidth) {
  .header {
    padding: 30px 40px 30px 40px;
  }
}

@media screen and (max-width: $mobileWidth) {
  .header {
    padding: $pagePaddingMobile;
  }
}
