.footer__copyright {
  grid-area: copyright;
  line-height: 24px;
  font-size: 15px;
  font-weight: normal;
  margin: 86px 0 0 0;
}

@media screen and (max-width: $tabletWidth) {
  .footer__copyright {
    margin: 80px 0 0 0;
  }
}

@media screen and (max-width: $mobileWidth) {
  .footer__copyright {
    font-size: 12px;
    margin: 40px 0 0 0;
  }
}
