.intro__text {
  grid-area: text;
  line-height: 27px;
  font-size: 20px;
  font-weight: $fontWeight;
  max-width: 469px;
  margin: 60px 0 0 0;
}

@media screen and (max-width: $tabletWidth) {
  .intro__text {
    margin: 60px 0 0 0;
  }
}

@media screen and (max-width: $mobileWidth) {
  .intro__text {
    line-height: $mobileTextLineHeight;
    font-size: $mobileTextFontSize;
  }
}
