.camera {
  display: grid;
  grid-template-areas:
    "label pic"
    "title pic"
    "text pic"
    "reviews reviews";
  background-color: #000;
  color: #fff;
  padding: $pagePaddingDesktop;
  grid-template-rows: 78px auto;
}

@media screen and (max-width: $tabletWidth) {
  .camera {
    padding: $pagePaddingTablet;
    grid-template-areas:
      "label"
      "title"
      "pic"
      "text"
      "reviews";

    grid-template-rows: 68px auto;
  }
}

@media screen and (max-width: $mobileWidth) {
  .camera {
    padding: $pagePaddingMobile;
  }
}
