.camera__user {
  line-height: 24px;
  font-size: 15px;
  font-weight: $fontWeight;
  margin: 10px 0 0 0;
}

@media screen and (max-width: $mobileWidth) {
  .camera__user {
    line-height: 12px;
    font-size: 12px;
  }
}
