.pop-up-nav__close-button {
  width: 39px;
  height: 39px;
  background-color: transparent;
  background-image: url(../../../images/burger.png);
  background-size: cover;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  align-self: center;
}

@media screen and (max-width: $mobileWidth) {
  .pop-up-nav__close-button {
    align-self: baseline;
  }
}
