.header__burger {
  display: none;
  align-self: center;
  width: 32px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: $tabletWidth) {
  .header__burger {
    display: block;
  }
}
