.camera__person {
  line-height: 28px;
  font-size: 18px;
  font-weight: $fontWeight;
  margin: 60px 0 0 0;
}

@media screen and (max-width: $mobileWidth) {
  .camera__person {
    line-height: 12px;
    font-size: 12px;
  }
}
