.composition__title {
  grid-area: title;
  line-height: 64px;
  font-size: 64px;
  font-weight: $fontWeight;
  max-width: 403px;
  margin: 40px 0 0 0;
}

@media screen and (max-width: $mobileWidth) {
  .composition__title {
    max-width: 280px;
    line-height: 38px;
    font-size: 30px;
    margin: 30px 0 0 0;
  }
}
